:root{
    --main-color : #0dcaf0;
}
.customAlert{
  /* visibility: hidden; */
  animation: alert 1s 3 ease-out;
}

.home{
    height: 100vh;
    background-color: #e1e1e1;
}

a{
    transition: all .5s;
    color: black;
}
a:hover{
    color: var(--main-color);
}
i{
    color: var(--main-color);
}

.input-style{
    padding-block: 10px;
    padding-inline: 30px;
}
.user-icon{
    left: 15px;
}
